/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
	display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.col-1 {
  float: left;
  width: 315px;
  background: white;
  height: 585.667px;
}
.col-2 {
  float: left;
  width: 630px;
  margin-right: 12px;
  background: white;
}
.col-3 {
  background: white;
}
.col-offer{
  float: left;
  width: 309px;
  background: white;
  margin-top: 12px;
  margin-right: 12px;
}
.col-last{
  float: left;
  width: 314px;
  background: white;
  margin-top: 12px;
  height: 357.333px;
  margin-bottom: 30px;
}
.col-footer{
  float: left;
  width: 309px;
  margin-top: 12px;
  margin-right: 12px;
}
.col-last-footer{
  float: left;
  width: 314px;
  margin-top: 12px;
  margin-bottom: 30px;
}
